<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.file" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name="wallet.ooredo.com.live.application.CoreApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="wallet.ooredo.com.live.Splash"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".registration.Registration"
            android:exported="true"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".mainmenu.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/MyTheme"/>

        <activity
            android:name=".mainmenu.MerchantInfoActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".mainmenu.CheckForUpdatesActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".merchantlogin.MerchantLoginActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".merchantregistration.MerchantRegistrationActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name="br.com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />

        <activity
            android:name=".mainmenu.Contact_Us_Activity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".barcodepaymentcollection.DisplayAmountToMerchantActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".barcodepaymentcollection.DisplayAmountToMerchantActivityDummy"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".barcodepaymentcollection.QRCodePaymentCollectionLeg2RequestScreen"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".barcodepaymentcollection.QRCodePaymentCollectionFinalScreen"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".transactionhistory.TransactionHistoryActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".transactionhistory.TransactionHistoryDisplayActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".consolidatedreports.Consolidated_Reports_Selection"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".consolidatedreports.Consolidated_Reports_Selection_Display"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".offer_redeem.OfferValidateResponseDisplay"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".offer_redeem.OfferRedeemSuccessFinal"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".offer_redeem.OfferRedeemFinalScreen"
            android:exported="true"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".invoice.InvoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".invoice.InvoiceSuccess"
            android:exported="true"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".offers.OffersListActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />

        <service
            android:name=".application.SyncService"
            android:exported="false" />

        <service
            android:name="wallet.ooredo.com.live.service.DeviceStatusUpdateService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="coreframework.taskframework.SendLogReportsActivity"
            android:exported="false"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="coreframework.utils.SendLogReportsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
